@model PurchaseRequisition


<h2>@ViewData["Title"]</h2>

<form asp-action="SavePurchaseRequisition" method="post">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PRNumber" class="control-label">PR Number</label>
                    <input asp-for="PRNumber" class="form-control" disabled />
                    <span asp-validation-for="PRNumber" class="text-danger"></span>
                </div>


            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="PRDate" class="control-label">PR Date</label>
                    <input asp-for="PRDate" class="form-control" type="date" disabled />
                    <span asp-validation-for="PRDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="DeliveryDate" class="control-label">Delivery Date</label>
                    <input asp-for="DeliveryDate" class="form-control" type="date" />
                    <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Requisitionar" class="control-label">Requisitionar </label>
                    <input asp-for="Requisitionar" class="form-control" />
                    <span asp-validation-for="Requisitionar" class="text-danger"></span>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Supplier" class="control-label">Suggested Supplier</label>
                    <input asp-for="Supplier" class="form-control" />
                    <span asp-validation-for="Supplier" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="DeliveryUnit" class="control-label">Delivery Unit </label>
                    <input asp-for="DeliveryUnit" class="form-control" />
                    <span asp-validation-for="DeliveryUnit" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Item Master Code</th>
                        <th class="text-center">Item Name</th>
                        <th class="text-center">Shade Code</th>
                        <th class="text-center">Lead Time</th>
                        <th class="text-center">PR Quantity</th>
                        <th class="text-center">UOM</th>
                        <th class="text-center">Suggested Unit Price</th>
                        <th class="text-center">Insight</th>


                    </tr>
                </thead>
                <tbody>
                    @if (Model.ItemDetails != null)
                    {
                        @foreach (var detail in Model.ItemDetails)
                        {
                            <tr>
                                <td class="text-center">@detail.ItemMasterID</td>
                                <td class="text-center">@detail.ItemName</td>
                                <td class="text-center">@detail.ShadeCode</td>
                                <td class="text-center">
                                    <input type="number" class="form-control" name="LeadTime" value="@detail.LeadTime" />
                                </td>
                                <td class="text-center">@detail.PRQuantity</td>
                                <td class="text-center">@detail.UOM</td>
                                <td class="text-center">
                                    <input type="number" class="form-control" name="UnitPrice" value="@detail.UnitPrice" step="0.01" />
                                </td>
                                <td class="text-center">

                                    <button type="button" class="btn btn-info" onclick="showInsight(@detail.ItemMasterID)">
                                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    </button>
                                </td>


                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>







    <input type="hidden" asp-for="PRID" />

    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<div class="modal fade" id="insightModal" tabindex="-1" role="dialog" aria-labelledby="insightModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="insightModalLabel">Item Insight</h5>
                <button type="button" class="close" onclick="closeInsightModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="insightContent">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="closeInsightModal()">Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        

       
            function showInsight(itemMasterID) {

                $('#insightModal').modal('show');


                $('#insightContent').text('Loading...');


                $.ajax({
                    url: '/PurchaseRequisition/GetPRInsight',
                    type: 'GET',
                    data: { itemMasterID: itemMasterID },
                    success: function (data) {

                        
                        console.log(data)
                    },
                    error: function () {
                        $('#insightContent').text('An error occurred while retrieving the insight data.');
                    }
                });
            }


        function closeInsightModal() {
           
            $('#insightModal').modal('hide');
        }

    </script>

       

}
