@model SupplyChainManagement.DTO.YarnPOMasterDetailViewModel


<h2>@ViewData["Title"]</h2>
<style>
    .custom-label {
        font-weight: 600; 
        color: #333333; 
    }
</style>

<form asp-action="SavePurchaseRequisition" method="post">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.PONo" class="control-label custom-label">PO Number</label>
                    <input asp-for="YarnPOMaster.PONo" class="form-control" />
                 
                </div>


            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.PODate" class="control-label custom-label">PO Date</label>
                    <input asp-for="YarnPOMaster.PODate" class="form-control" type="date" />
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.DeliveryStartDate" class="control-label custom-label">Delivery Start Date</label>
                    <input asp-for="YarnPOMaster.DeliveryStartDate" class="form-control" type="date" />
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.DeliveryStartDate" class="control-label custom-label">Delivery End Date</label>
                    <input asp-for="YarnPOMaster.DeliveryStartDate" class="form-control" type="date" />
                    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.SupplierName" class="control-label custom-label">Suppier Name </label>
                    <input asp-for="YarnPOMaster.SupplierName" class="form-control" />
 
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.Charges" class="control-label custom-label">Charges</label>
                    <input asp-for="YarnPOMaster.Charges" class="form-control" />
                   
                </div>


            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.CountryOfOrigin" class="control-label custom-label">Country</label>
                    <input asp-for="YarnPOMaster.CountryOfOrigin" class="form-control" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.ShippingTolerance" class="control-label custom-label">Shipping Tolerance</label>
                    <input asp-for="YarnPOMaster.ShippingTolerance" class="form-control" type="number" />
                   
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.PortofLoading" class="control-label custom-label">Portof Loading</label>
                    <input asp-for="YarnPOMaster.PortofLoading" class="form-control" />
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.PortofDischarge" class="control-label custom-label">Portof Discharge </label>
                    <input asp-for="YarnPOMaster.PortofDischarge" class="form-control" />
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="YarnPOMaster.ShipmentMode" class="control-label custom-label">Shipment Mode</label>
                    <input asp-for="YarnPOMaster.ShipmentMode" class="form-control" />
                </div>
            </div>     
        </div>

      
        <br/><br/>
        <h4>Details Info </h4>
        <div class="row">
            <table id="itemTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        
                        <th class="text-center">Booking No</th>
                        <th class="text-center">Item Master Code</th>
                        <th class="text-center">Shade</th>
                        <th class="text-center">Unit</th>
                        <th class="text-center">PO Qty</th>
                        <th class="text-center">Rate</th>
                        <th class="text-center">Value</th>
                        <th class="text-center">Remarks</th>


                    </tr>
                </thead>
                <tbody>
                   
                        @for (int i = 0; i < Model.ItemDetails.Count; i++)
                        {
                            <tr>
                                <td class="text-center"><input type="text" disabled name="ItemDetails[@i].BookingNo" value="@Model.ItemDetails[i].BookingNo" class="form-control" /></td>
                                <td class="text-center"><input type="text" disabled name="ItemDetails[@i].ItemMasterID" value="@Model.ItemDetails[i].ItemMasterID" class="form-control" /></td>
                                <td class="text-center"><input type="text" disabled name="ItemDetails[@i].YarnShade" value="@Model.ItemDetails[i].YarnShade" class="form-control" /></td>
                                <td class="text-center"><input type="text" disabled name="ItemDetails[@i].UnitName" value="@Model.ItemDetails[i].UnitName" class="form-control" /></td>
                                <td class="text-center"><input type="number" disabled name="ItemDetails[@i].PoQty" value="@Model.ItemDetails[i].PoQty" class="form-control" /></td>
                                <td class="text-center"><input type="number" disabled name="ItemDetails[@i].Rate" value="@Model.ItemDetails[i].Rate" class="form-control" /></td>
                                <td class="text-center"><input type="number" disabled name="ItemDetails[@i].PIValue" value="@Model.ItemDetails[i].PIValue" class="form-control" /></td>
                                <td class="text-center"><input type="text" disabled name="ItemDetails[@i].Remarks" value="@Model.ItemDetails[i].Remarks" class="form-control" /></td>
                            </tr>
                        
                    }
                   
                </tbody>
            </table>

        </div>
    </div>

    <input type="hidden" asp-for="YarnPOMaster.YPOMasterID" />

    <button type="submit" formaction="@Url.Action("SendPoEmail", "PO")" formmethod="post" class="btn btn-primary">Release PO</button>
  
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>



        function showInsight(itemMasterID) {
            $.ajax({
                url: '/PurchaseRequisition/GetPRInsight',
                type: 'GET',
                data: { itemMasterID: itemMasterID },
                success: function (result) {

                    $('#insightModal .modal-body').html(result);
                    $('#insightModal').modal('show');
                },
                error: function () {
                    alert("An error occurred while loading the insights.");
                }
            });
        }


        function closeInsightModal() {

            $('#insightModal').modal('hide');
        }


        function deleteItem(itemMasterID) {
            if (confirm("Are you sure you want to delete this item?")) {

                $('#itemRow_' + itemMasterID).remove();
                alert("Item deleted successfully.");
            }
        }



        function savePurchaseRequisition() {

            var requisition = {
                PRNumber: $('#PRNumber').val(),
                PRDate: $('#PRDate').val(),
                Supplier: $('#Supplier').val(),
                Requisitionar: $('#Requisitionar').val(),
                DeliveryDate: $('#DeliveryDate').val(),
                DeliveryUnit: $('#DeliveryUnit').val(),
                ItemDetails: []
            };


            $('#itemTable tbody tr').each(function () {
                var itemDetail = {
                    ItemMasterID: $(this).find('td:nth-child(2)').text().trim(),
                    ItemName: $(this).find('td:nth-child(3)').text().trim(),
                    ShadeCode: $(this).find('td:nth-child(4)').text().trim(),
                    LeadTime: $(this).find('.leadTime').val(),
                    PRQuantity: $(this).find('.PRQuantity').text().trim(),
                    UOM: $(this).find('td:nth-child(7)').text().trim(),
                    UnitPrice: $(this).find('.unitPrice').last().val()
                }


                requisition.ItemDetails.push(itemDetail);
            });


            $.ajax({
                url: '/PurchaseRequisition/SavePurchaseRequisition',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requisition),
                success: function (response) {

                    alert('Purchase requisition saved successfully!');

                },
                error: function (error) {

                    alert('Error saving purchase requisition: ' + error.responseText);
                }
            });
        }




    </script>



}
