@model List<SupplyChainManagement.DTO.ProcurementLandingDto>

@{
    ViewData["Title"] = "Procurement Planning";
}

<h2>@ViewData["Title"]</h2></br>

<table class="table">
    <thead>
        <tr>
            <th>Details</th>
            <th>Yarn</th>
            <th>Total Quantity</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var procurement in Model)
        {
            <tr>
                <td>
                    <button class="toggle-btn" onclick="toggleDetails('details-@procurement.YarnId')">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                </td>
                <td>@procurement.YarnName</td>
                <td>@procurement.TotalQuantity</td>         
          
            </tr>
            <tr id="details-@procurement.YarnId" class="child-details" style="display: none;">
                <td colspan="5">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>TNA Slab</th>
                                <th>PR Number</th>                               
                                <th>EWO Based</th>
                                <th>Projection Based</th>
                                <th>ROL Based</th>
                                <th>Total Quantity</th>
                                <th>Free  Stock</th>
                                <th>Free PipeLine Stock</th>
                                <th>Free Transit Stock</th>
                                <th>Free Physical Stock</th>
                                <th>Suggested <br />Store <br />Requisition</th>
                                <th>Suggested Purchase Quantity</th>
                                <th>Purchase Quantity</th>
                                <th>Unit</th>
                                <th style="width:8%">Path of PO</th>
                                <th style="width:8%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var child in procurement.ProcurementChildren)
                            {
                                <tr>
                                    <td>@child.TNASlab</td>
                                    <td>@child.PRNo</td>
                                    <td>@child.EwoQuantity</td>
                                    <td>@child.ProjectionQuantity</td>
                                    <td>@child.ROLQuantity</td>
                                    <td>@child.TotalQuantity</td>
                                    <td>@child.FreeStock</td>
                                    <td>@child.FreePipeLineStock</td>
                                    <td>@child.FreeTransitStock</td>
                                    <td>@child.FreePhysicalStock</td>
                                    <td>@child.SuggestedStoreRequisition</td>
                                    <td>@child.SuggestedPurchaseQuantity</td>
                                    <td>   <input type="number" name="PurchaseOrderQuantity" value="@child.PurchaseOrderQuantity" class="form-control" step="0.01" />
                                    </td>
                                    <td>Kg</td>
                       
                                    <td>
                                        <select name="PathOfPO" class="form-control">
                                            <option value="PA" selected="@(child.PathOfPO == "PA" ? "selected" : "")">PA</option>
                                            <option value="RFQ" selected="@(child.PathOfPO == "RFQ" ? "selected" : "")">RFQ</option>
                                        </select>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-primary" onclick="AddPO()">Done </button>
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    function toggleDetails(detailsId) {
        var detailsRow = document.getElementById(detailsId);
        detailsRow.style.display = (detailsRow.style.display === "none") ? "table-row" : "none";
    }
</script>